nav.main-menu.js-main-menu
  .row
    .col-md-2.col-sd-12
      img.logo(src='./assets/images/landing/logo-colors.svg')
      img.logo(src='./assets/images/landing/logo-white.svg')
      a.landing-mobile-burger.js-landing-mobile-burger
        i.material-icons.md-18
          | menu

    .col-md-10.col-sd-12.text-right.mobile-submenu-landing.js-mobile-submenu-landing
      a.btn.btn-link.smoothScroll(data-linkto='js-eos', data-event-category='Internal link', data-event-action='What is EOS', data-event-label='Landing page')
        | What is EOS
      a.btn.btn-link.smoothScroll(data-linkto='js-features', data-event-category='Internal link', data-event-action='Features', data-event-label='Landing page')
        | Features
      a.btn.btn-link.smoothScroll(data-linkto='js-contact', data-event-category='Internal link', data-event-action='Contact', data-event-label='Landing page')
        | Contact
      a.btn.btn-default.get-started(href='https://suse.eosdesignsystem.com', target='_blank', rel='noreferrer', data-event-category='Internal link', data-event-action='Contact', data-event-label='Landing page')
        | Check out SUSE DS
