/* Meaningful colors variables
   ========================================================================== */
$eos-white: #fff;
$eos-gray: #ddd;
$eos-gray-dark: darken($eos-gray, 45%);
$eos-gray-darker: #333333;
$eos-orange-matt: #fe673a;

// EOS logo colors
$eos-light-orange: #ff980a;
$eos-dark-orange: #ff420a;
$eos-pink: #bc0289;
$eos-pink-orange: #ef5455;
$eos-blue: #35b9ab;
