/* Main menu variables
   ========================================================================== */
/* color variables: /assets/stylesheets/landing-page/base/variables/colors.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* SUSE brand - blue */
// $eos-pink: #bc0289;
$btn-primary-bg-hover: $eos-pink;

$main-menu-padding: $m;
$main-menu-solid-bg: $eos-white;
$main-menu-height: 67px;
$main-menu-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

/* Logo */
$logo-height: 32px;
$logo-width: 78px;
$logo-position-left: $m;

/* navigation */
$main-menu-link-margin-left: $xxl;
$main-menu-link-color: $eos-white;
$main-menu-underline-link-height: 2px;
$main-menu-second-link: $xxl;
$main-menu-zindex: $zindex-navbar;

/* menu on scroll */
$main-menu-scrolled-btn-default-bg: $eos-pink;
$main-menu-scrolled-btn-default-bg-hover: darken( $eos-pink , 5% );
$main-menu-scrolled-links-color: $eos-gray-darker;
