extends ../layouts/layout-landing

block content
  include shared/main-menu.pug
  a.slack-button(href='https://slack.eosdesignsystem.com', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Join Slack', data-event-label='Landing page')
    img.slack-logo(src='./assets/images/landing/slack-logo.svg')
    strong
      small
        | Join us
  section#js-eos.introduction
    article.container-fluid
      h1.text-center
        strong
          | ONE DESIGN SYSTEM
        | ENDLESS POSSIBILITIES
      h3.text-center
        | The open source solution for cohesive UX/UI across products.

      .introduction-holder.design-system-img
        .divider-tool-and-pencil
          img.divider-tool.wow.fadeInUp(src='./assets/images/landing/divider-tool.svg')
          img.pencil.wow.fadeInUp(src='./assets/images/landing/pencil.svg', data-wow-delay='0.1s')
        .ruler-and-keyboard
          img.ruler.wow.fadeInUp(src='./assets/images/landing/ruler.svg', data-wow-delay='0.2s')
          img.keyboard.wow.fadeInUp(src='./assets/images/landing/keyboard.svg', data-wow-delay='0.3s')
        img.mouse.wow.fadeInUp(src='./assets/images/landing/mouse.svg', data-wow-delay='0.4s')
        svg.svg-line-to-consistency(xmlns='http://www.w3.org/2000/svg', width='372px', height='540px')
          path.path-to-consistency(fill='none', stroke='rgb(255, 255, 255)', stroke-width='3px', stroke-linecap='butt', stroke-linejoin='miter', d='M282.000,23.000 L282.000,2.000 L368.000,2.000 L368.000,277.361 L36.266,277.361 L36.266,535.401 L2.000,535.401')
      .introduction-holder.consistency-autonomy-img
        .laptop-mobile
          img.mobile-phone.wow.fadeInUp(src='./assets/images/landing/mobile-phone.svg', data-wow-offset='200')
          img.laptop.wow.fadeInUp(src='./assets/images/landing/laptop.svg', data-wow-delay='0.1s', data-wow-offset='200')
        .title
          h1
            strong
              | CONSISTENT,
            strong
              | AUTONOMOUS,
            | AND
            strong
              | BEAUTIFUL UIs
          h3
            | EOS helps developers and designers to autonomously deliver consistent UX and engaging interfaces.
        svg.svg-line-to-market(xmlns='http://www.w3.org/2000/svg', width='553px', height='484px')
          path.path-to-market(fill='none', stroke='rgb(255, 255, 255)', stroke-width='3px', stroke-linecap='butt', stroke-linejoin='miter', d='M6.000,2.000 L6.000,170.000 L373.000,170.000 L373.000,476.000 L545.000,476.000 L545.000,418.000')
      .introduction-holder.fast-market-img
        .title
          h1
            | HELPING A FAST
            br
            | MOVING MARKET
            strong
              | MOVE FASTER
          h3
            | The EOS Design System helps open source companies deliver bleeding edge software without losing focus on the user experience.
        img.monitor.wow.fadeInUp(src='./assets/images/landing/monitor.svg', data-wow-offset='200')

  section#js-features.features
    article.container.container-fluid
      h2.text-center
        | features
      h3.text-center
        | The EOS Design System at a glance
      .feature-holder
        .bubble
          h3
            | Open
            br
            | source
          .bubble-blue.bubble-1.js-move-bubble.wow.bubble-fadeinupleft(data-wow-offset='0')
          .bubble-blue.bubble-2.js-move-bubble.wow.bubble-fadeinupright(data-wow-offset='0')
          .bubble-blue.bubble-3
          .bubble-blue.bubble-4.js-move-bubble.wow.bubble-fadeindown(data-wow-offset='0')
        .bubble-text
          h3
            | OPEN SOURCE DNA
          p
            | EOS offers an easily customizable Design System for any company or project to use.
            | We created guides that are adjustable and applicable in any open source project. We appreciate your contribution to EOS and look forward to hearing more about how it helps your products and projects.
          .features-btn-group
            a.btn.btn-default(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Gitlab issues', data-event-label='Landing page')
              | Contribute to EOS
            a.btn.btn-default(href='https://gitlab.com/SUSE-UIUX/eos', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Gitlab repo', data-event-label='Landing page')
              | Fork EOS

      .feature-holder.feature-holder-reverse
        .bubble-text
          h3
            | Color palette
          p
            | Text, call-to-action, status colors, and more. Using our example of
            | SUSE colors, you can easily define and generate your product’s colors in
            | a meaningful way to help developers and designers apply them consistently.

          .features-btn-group
            a.btn.btn-default(href='https://suse.eosdesignsystem.com/colors', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='SUSE EOS Color guide', data-event-label='Landing page')
              | Go to Color guide
        .bubble
          h3
            | Colors
          .bubble-dark-orange.bubble-1.js-move-bubble.wow.bubble-fadeinupleft(data-wow-offset='0')
          .bubble-dark-orange.bubble-2.js-move-bubble.wow.bubble-fadeinupright(data-wow-offset='0')
          .bubble-dark-orange.bubble-3
          .bubble-dark-orange.bubble-4.js-move-bubble.wow.bubble-fadeindown(data-wow-offset='0')
      .feature-holder
        .bubble
          h3
            | Icons
          .bubble-pink.bubble-1.js-move-bubble.wow.bubble-fadeinupleft(data-wow-offset='300')
          .bubble-pink.bubble-2.js-move-bubble.wow.bubble-fadeinupright(data-wow-offset='300')
          .bubble-pink.bubble-3
          .bubble-pink.bubble-4.js-move-bubble.wow.bubble-fadeindown(data-wow-offset='300')
        .bubble-text
          h3
            | A handcrafted icons set and guideline
          p
            | We have created the EOS icon set, made to cover special use cases
            | and perfectly coexist with Material Design icons, our recommended iconic font.
          .features-btn-group
            a.btn.btn-default(href='https://icons.eosdesignsystem.com/', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Icons page', data-event-label='Landing page')
              | Go to icons
      .feature-holder.feature-holder-reverse
        .bubble-text
          h3
            | Unified communication standards to reach your audience
          p
            | Deliver clear, concise and useful messages, while keeping a
            | consistent voice and tone across products. Write content that puts
            | users first and helps your products sound like one unified
            | brand. Follow the SUSE brand tone and voice to help you identify how your products
            | should communicate with their users.
          .features-btn-group
            a.btn.btn-default(href='https://suse.eosdesignsystem.com/writing', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='SUSE EOS writing guides', data-event-label='Landing page')
              | Go to writing guides
        .bubble
          h3
            | Writing guide
          .bubble-light-orange.bubble-1.js-move-bubble.wow.bubble-fadeinupleft(data-wow-offset='300')
          .bubble-light-orange.bubble-2.js-move-bubble.wow.bubble-fadeinupright(data-wow-offset='300')
          .bubble-light-orange.bubble-3
          .bubble-light-orange.bubble-4.js-move-bubble.wow.bubble-fadeindown(data-wow-offset='300')

  section#js-contact.bottom-links.text-center
    article.container-fluid
      h3
        | Get in touch with us
      .bottom-links-items.row
        .col-sm-6.col-lg-3
          h4
            img.bottom-links-icon(src='./assets/images/landing/feedback_icon.svg')
            | Feedback
          p
            | Got some ideas or something nice to say to us?
          a.btn.btn-secondary(href='mailto:eos-design-system@googlegroups.com', data-event-category='External link', data-event-action='Email to Google groups', data-event-label='Landing page')
            | Send us feedback
        .col-sm-6.col-lg-3
          h4
            img.bottom-links-icon(src='./assets/images/landing/forum.svg')
            | Mailing list
          p
            | Join our mailing list to receive more information.
          a.btn.btn-secondary(href='https://groups.google.com/forum/#!forum/eos-design-system', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Mailing list', data-event-label='Landing page')
            | Subscribe
        .col-sm-6.col-lg-3
          h4
            img.bottom-links-icon(src='./assets/images/landing/gitlab-min.svg')
            | Repository
          p
            | Do you want to fork EOS, contribute, or report an issue?
          .btn-group-footer
            a.btn.btn-secondary(href='https://gitlab.com/SUSE-UIUX/eos/', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Gitlab repo', data-event-label='Landing page')
              | Repository
            a.btn.btn-secondary(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Gitlab issues', data-event-label='Landing page')
              | Issues
        .col-sm-6.col-lg-3
          h4
            img.bottom-links-icon(src='./assets/images/landing/twitter.svg')
            | Twitter
          p
            | Get the latest news, meet the team, and more.
          a.btn.btn-secondary(href='https://twitter.com/eosdesignsystem', target='_blank', rel='noreferrer', data-event-category='External link', data-event-action='Twitter', data-event-label='Landing page')
            | EOS in Twitter
  footer.text-center
    | Made by UX/UI SUSE Team /
    a.landing-cookie-link(href='https://suse.eosdesignsystem.com/cookies-policy', data-event-category='External link', data-event-action='Cookie policy', data-event-label='Landing page')
      |
      | Cookie policy
